<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ThinkBlog后台管理系统首页 - Dashboard</title>
    <meta name="description" content="ThinkBlog后台管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!--禁止搜索引擎转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--禁止搜索引擎缓存-->
    <meta name="robots" content="noarchive">

    <!--网站的图标-->
    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico">

    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Dashboard/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="ThinkBlog"/>

    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/dashboard.css">
    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，ThinkBlog 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!--header start-->
<include file="Public/header"/>
<!--header end-->

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <include file="Public/sidebar"/>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表单</strong> /
                <small>form</small>
            </div>
        </div>

        <div class="am-tabs am-margin" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li class="am-active"><a href="#tab1">基本信息</a></li>
                <li><a href="#tab2">详细描述</a></li>
                <li><a href="#tab3">SEO 选项</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">所属类别</div>
                        <div class="am-u-sm-10">
                            <select>
                                <option value="option1">选项一...</option>
                                <option value="option2">选项二.....</option>
                                <option value="option3">选项三........</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">显示状态</div>
                        <div class="am-u-sm-10">
                            <div class="am-btn-group" data-am-button>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="radio" name="options" id="option1"> 正常
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="radio" name="options" id="option2"> 待审核
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="radio" name="options" id="option3"> 不显示
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">推荐类型</div>
                        <div class="am-u-sm-10">
                            <div class="am-btn-group" data-am-button>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="checkbox"> 允许评论
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="checkbox"> 置顶
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="checkbox"> 推荐
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="checkbox"> 热门
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="checkbox"> 轮播图
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            发布时间
                        </div>
                        <div class="am-u-sm-10">
                            <form action="" class="am-form am-form-inline">
                                <div class="am-form-group am-form-icon">
                                    <i class="am-icon-calendar"></i>
                                    <input type="text" class="am-form-field am-input-sm" placeholder="时间">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="am-tab-panel am-fade" id="tab2">
                    <form class="am-form">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-2 am-text-right">
                                文章标题
                            </div>
                            <div class="am-u-sm-4">
                                <input type="text" class="am-input-sm">
                            </div>
                            <div class="am-u-sm-6">*必填，不可重复</div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-2 am-text-right">
                                文章作者
                            </div>
                            <div class="am-u-sm-4 col-end">
                                <input type="text" class="am-input-sm">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-2 am-text-right">
                                信息来源
                            </div>
                            <div class="am-u-sm-4">
                                <input type="text" class="am-input-sm">
                            </div>
                            <div class="am-u-sm-6">选填</div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-2 am-text-right">
                                内容摘要
                            </div>
                            <div class="am-u-sm-4">
                                <input type="text" class="am-input-sm">
                            </div>
                            <div class="am-u-sm-6">不填写则自动截取内容前255字符</div>
                        </div>

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-2 am-text-right">
                                内容描述
                            </div>
                            <div class="am-u-sm-10">
                                <textarea rows="10" placeholder="请使用富文本编辑插件"></textarea>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="am-tab-panel am-fade" id="tab3">
                    <form class="am-form">
                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-2 am-text-right">
                                SEO 标题
                            </div>
                            <div class="am-u-sm-4 am-u-end">
                                <input type="text" class="am-input-sm">
                            </div>
                        </div>

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-2 am-text-right">
                                SEO 关键字
                            </div>
                            <div class="am-u-sm-4 am-u-end">
                                <input type="text" class="am-input-sm">
                            </div>
                        </div>

                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-2 am-text-right">
                                SEO 描述
                            </div>
                            <div class="am-u-sm-4 am-u-end">
                                <textarea rows="4"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="am-margin">
            <button type="button" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
            <button type="button" class="am-btn am-btn-primary am-btn-xs">放弃保存</button>
        </div>
    </div>
    <!-- content end -->

</div>

<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->

<!--[if lt IE 9]>
<script src="__PUBLIC__/Assets/Global/Plugins/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/modernizr.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Assets/Global/Plugins/jquery.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Dashboard/assets/js/app.js"></script>
<script type="text/javascript">
    $('#editor').on('click', function () {
        console.log('editor clicked');
    });
    $('#markdown').on('click', function () {
        console.log('markdown clicked');
    })
</script>

</body>
</html>
