<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ThinkBlog后台管理系统首页 - Dashboard</title>
    <meta name="description" content="ThinkBlog后台管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!--禁止搜索引擎转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--禁止搜索引擎缓存-->
    <meta name="robots" content="noarchive">

    <!--网站的图标-->
    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico">

    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Dashboard/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="ThinkBlog"/>

    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/dashboard.css">
    <link rel="stylesheet" href="__PUBLIC__/Dashboard/assets/css/app.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，ThinkBlog 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!--header start-->
<include file="Public/header"/>
<!--header end-->

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <include file="Public/sidebar"/>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">相册</strong> /
                <small>Gallery</small>
            </div>
        </div>

        <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                         alt=""/>
                    <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs" src="http://pic.33.la/tt/1920x1080/webshots_zhiwu-027.jpg"
                         alt=""/>
                    <div class="gallery-title">君可见漫天落霞</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                         alt=""/>
                    <div class="gallery-title">此刻鲜花满天幸福在身边</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg"
                         alt=""/>
                    <div class="gallery-title">你当我是浮夸吧</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/FennecFox_ZH-CN13720911949_1366x768.jpg" alt=""/>
                    <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                         alt=""/>
                    <div class="gallery-title">斜阳染幽草 几度飞红</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                         alt=""/>
                    <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/FennecFox_ZH-CN13720911949_1366x768.jpg" alt=""/>
                    <div class="gallery-title">你当我是浮夸吧</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg"
                         alt=""/>
                    <div class="gallery-title">远方 有一个地方 那里种有我们的梦想</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs" src="http://pic.33.la/tt/1920x1080/webshots_zhiwu-027.jpg"
                         alt=""/>
                    <div class="gallery-title">君可见漫天落霞</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://s.cn.bing.net/az/hprichbg/rb/FennecFox_ZH-CN13720911949_1366x768.jpg" alt=""/>
                    <div class="gallery-title">你当我是浮夸吧</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs" src="http://pic.33.la/tt/1920x1080/webshots_zhiwu-027.jpg"
                         alt=""/>
                    <div class="gallery-title">君可见漫天落霞</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                         alt=""/>
                    <div class="gallery-title">斜阳染幽草 几度飞红</div>
                    <div class="gallery-desc">2375-09-26</div>
                </a>
            </li>
        </ul>

        <div class="am-margin am-cf">
            <hr/>
            <p class="am-fl">共 15 条记录</p>
            <ol class="am-pagination am-fr">
                <li class="am-disabled"><a href="#">&laquo;</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ol>
        </div>

    </div>
    <!-- content end -->

</div>

<!--footer start-->
<include file="Public/footer"/>
<!--footer end-->

<!--[if lt IE 9]>
<script src="__PUBLIC__/Assets/Global/Plugins/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/modernizr.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/amazeui.legacy.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Assets/Global/Plugins/jquery.min.js"></script>
<script src="__PUBLIC__/Dashboard/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Dashboard/assets/js/app.js"></script>
<script type="text/javascript">
    $('#editor').on('click', function () {
        console.log('editor clicked');
    });
    $('#markdown').on('click', function () {
        console.log('markdown clicked');
    })
</script>

</body>
</html>
