<div class="widget">
    <h4 class="title">分类</h4>
    <div class="content category">
        <p><a href="javascript:" title="分类1" target="_blank">分类1</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(100)
        </p>
        <p><a href="javascript:" title="分类2" target="_blank">分类2</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(100)
        </p>
        <p><a href="javascript:" title="分类3" target="_blank">分类3</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(100)
        </p>
        <p><a href="javascript:" title="分类4" target="_blank">分类4</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(100)
        </p>
    </div>
</div>