<div class="widget">
    <h4 class="title">联系我们</h4>
    <div class="social">
        <a data-original-title="新浪微博" href="javascript:" title="新浪微博"
           target="_blank">
            <i class="sinaweibo fa fa-weibo"> </i>
        </a>
        <a data-original-title="腾讯微博" href="javascript:" title="腾讯微博"
           target="_blank">
            <i class="tencentweibo fa fa-tencent-weibo"> </i>
        </a>
        <a title="" data-original-title="" class="weixin">
            <i class="weixins fa fa-weixin"> </i>
            <div class="weixin-popover">
                <div class="popover bottom in">
                    <div class="arrow"></div>
                    <div class="popover-title"> 订阅号"Yongf"</div>
                    <div class="popover-content">
                        <img src="__PUBLIC__/Img/weixin.jpg">
                    </div>
                </div>
            </div>
        </a>
        <a data-original-title="Email" href="javascript:" title="Email" target="_blank">
            <i class="email fa fa-envelope-o"> </i>
        </a>
        <a data-original-title="联系QQ" href="javascript:" title="联系QQ"
           target="_blank">
            <i class="qq fa fa-qq"> </i>
        </a>
    </div>
</div>