<div class="widget">
    <h4 class="title">标签云</h4>
    <div class="content tag-cloud">
        <a href="javascript:">ThinkBlog 5.2</a>
        <a href="javascript:">Spark</a>
        <a href="javascript:">镜像</a>
        <a href="javascript:">新版本发布</a>
        <a href="javascript:">LTS</a>
        <a href="javascript:">微框架</a>
        <a href="javascript:">ThinkBlog</a>
        <a href="javascript:">命名空间</a>
        <a href="javascript:">错误页</a>
        <a href="javascript:">ThinkBlog V1.0</a>

        <a href="/tag-cloud/">...</a>
    </div>
</div>