<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">导航</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li role="presentation"><a href="#" title="ThinkBlog问答社区"
                                                   target="_blank">问答社区</a></li>
                        <li role="presentation"><a href="#" title="ThinkBlog 中文文档" target="_blank">中文文档</a>
                        </li>
                        <li role="presentation"><a href="#"
                                                   title="下载 ThinkBlog 中文文档离线版">下载离线文档</a></li>
                        <li role="presentation"><a href="#" title="ThinkBlog 框架 API"
                                                   target="_blank">API</a></li>
                        <li role="presentation"><a href="#" title="PHP 中文手册"
                                                   target="_blank">关于</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>