<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>ThinkBlog-简洁、优雅的轻博客</title>
    <meta name="description" content="ThinkBlog是一套简洁、优雅的轻博客构建系统"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico">

    <link rel="stylesheet" href="__PUBLIC__/Assets/Global/Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Assets/Global/Plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Assets/Global/Plugins/highlight/styles/vs.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/social.css">

    <link rel="canonical" href="http://www.54yongf.com/"/>
    <meta name="referrer" content="origin"/>
    <link rel="alternate" type="application/rss+xml"
          title="ThinkBlog是一套简洁、优雅的轻博客构建系统"
          href="http://blog.54yongf.com/rss/"/>
</head>
<body class="home-template">

<!-- start header -->
<include file="Public/header"/>
<!-- end header -->

<!-- start navigation -->
<include file="Public/top_navigation"/>
<!-- end navigation -->


<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">

                <volist name="articles" id="article">
                    <article class="post tag-lumen tag-xin-ban-ben-fa-bu">
                        <div class="post-head">
                            <h1 class="post-title"><a href="{$article.title_url}" target="_blank">{$article.title}</a>
                            </h1>
                            <div class="post-meta">
                                <time class="post-date" datetime="{$article.pub_time}"
                                      title="{$article.pub_time}"> &bull;
                                    发表于{$article.pub_time}
                                </time>
                                <span class="author">作者：<a href="javascript:">Scott Wang</a></span>
                                <time class="edit-date" datetime="{$article.edit_time}" title="{$article.edit_time}">
                                    更新于{$article.edit_time} &bull;
                                </time>
                            </div>
                        </div>

                        <div class="featured-media">
                            <a href="javascript:void(0)"><img
                                    src="__PUBLIC__/Img/article6.jpg"
                                    alt="{$article.title}"></a>
                        </div>

                        <div class="post-content" id="post-content">
                            <p>{$article.summary}</p>
                        </div>
                        <div class="post-permalink">
                            <a href="{$article.title_url}" target="_blank" class="btn btn-default">阅读全文</a>
                        </div>

                        <footer class="post-footer clearfix">
                            <div class="pull-left tag-list">
                                <i class="fa fa-folder-open-o"></i>
                                <a href="javascript:">ThinkBlog</a>, <a href="javascript:">新版本发布</a>
                            </div>
                            <div class="pull-right share">
                                <i class="fa fa-eye fa-2x"></i>
                                <a href="javascript:void (0)"> 10W+ </a> &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-comments fa-2x"></i>
                                <a href="javascript:void (0)"> 10W+ </a>
                            </div>
                        </footer>
                    </article>
                </volist>

                <nav class="pagination" role="navigation">
                    <span class="page-number">第 1 页 &frasl; 共 5 页</span>
                    <a class="older-posts" href="javascript:"><i class="fa fa-angle-right"></i></a>
                </nav>


            </main>

            <aside class="col-md-4 sidebar">

                <!-- WIDGET START -->
                <include file="Widget/search"/>
                <!--WIDGET END-->

                <!--WIDGET START-->
                <include file="Widget/member"/>
                <!--WIDGET END-->

                <!--WIDGET START-->
                <include file="Widget/social"/>
                <!--WIDGET END-->

                <!--TAG CLOUD WIDGET START-->
                <include file="Widget/community"/>
                <!--TAG CLOUD WIDGET END-->

                <!-- WIDGET START -->
                <include file="Widget/download"/>
                <!-- WIDGET END -->

                <!--WIDGET START-->
                <include file="Widget/category"/>
                <!--WIDGET END-->

                <!--TAG CLOUD WIDGET START-->
                <include file="Widget/tag_cloud"/>
                <!--TAG CLOUD WIDGET END-->

                <!-- WIDGET START -->
                <include file="Widget/page_view"/>
                <!-- WIDGET END -->

                <!-- WIDGET START -->
                <include file="Widget/friend_link"/>
                <!-- WIDGET END -->

            </aside>

        </div>
    </div>
</section>

<include file="Public/copyright"/>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="__PUBLIC__/Assets/Global/Plugins/jquery.min.js"></script>
<script src="__PUBLIC__/Assets/Global/Plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Assets/Global/Plugins/jquery.fitvids.js"></script>
<script src="__PUBLIC__/Assets/Global/Plugins/highlight.js/highlight.pack.js"></script>
<script src="__PUBLIC__/Js/main.js"></script>

</body>
</html>
