<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>向数据库中插入数据</title>
</head>
<body>
<h2>插入数据</h2>
<form method="post" action="index.html">
    <p>标题<input type="text" name="title"/></p>
    <p>分类<input type="text" name="category_id"/></p>
    <p>标签<input type="text" name="tag"/></p>
    文章摘要
    <p><textarea title="文章摘要" name="summary" cols="50" rows="8"></textarea></p>
    文章正文
    <p><textarea cols="150" rows="10" name="content" title="文章正文"></textarea></p>
    <p><input type="submit" value="注册"/></p>
</form>
</body>
</html>