<section id="intro">
    <div>

        <!--tabSlider-->
        <div class="carousel_tabSlider">
            <div class="ts-items">

                <!-- Single item -->
                <div class="ts-item is-active">
                    <div class="ts-banner"><img src="__PUBLIC__/Img/621.jpg" alt="alt goes here"/></div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"><img src="__PUBLIC__/Img/iphone.png" alt="alt"/></div>
                        <div class="ts-content">
                            <div class="ts-title"> 为移动而生</div>
                            <a href="" class="ts-btn pull-right set-icon to-right"> <span>ThinkBlog V2.0 <br/>移动端和桌面端一样表现出色</span>
                                <small>一次发布，多屏互动</small>
                                <i class="fa fa-arrow-circle-right"></i> </a></div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="ts-item">
                    <div class="ts-banner"><img src="__PUBLIC__/Img/622.jpg" alt="alt goes here"/></div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"><img src="__PUBLIC__/Img/s3.png" alt="alt"/></div>
                        <div class="ts-content">
                            <div class="ts-title"> 组件丰富，模块化</div>
                            <a href="" class="ts-btn pull-right set-icon to-right"> <span>ThinkBlog V2.0 <br/>简洁优雅，文章一键发布</span>
                                <small>快速构建界面出色、体验优秀的跨屏博客</small>
                                <i class="fa fa-arrow-circle-right"></i> </a></div>
                    </div>
                </div>

                <!-- Single item -->
                <div class="ts-item">
                    <div class="ts-banner"><img src="__PUBLIC__/Img/623.jpg" alt="alt goes here"/></div>
                    <div class="ts-container set-layout thumb-cont">
                        <div class="ts-thumbnail"><img src="__PUBLIC__/Img/lumia.png" alt="alt"/></div>
                        <div class="ts-content">
                            <div class="ts-title"> 轻量级，高性能，界面出色</div>
                            <a href="#" class="ts-btn pull-right set-icon to-right"> <span>使用HTML5、CSS3构建，出色的页面效果</span>
                                <small>平滑、高效、优雅，为艺术家而生的轻博客</small>
                                <i class="fa fa-arrow-circle-right"></i> </a></div>
                    </div>
                </div>
            </div>
            <nav class="ts-control">
                <div class="ts-container">
                    <ul>
                        <li class="is-active"><i class="fa fa-thumbs-up fa-2x"></i> <span>安全</span></li>
                        <li><i class="fa fa-life-ring fa-2x"></i> <span>稳定</span></li>
                        <li><i class="fa fa-heart fa-2x"></i> <span>声誉</span></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--/tabSlider-->
</section>