<!--头部始终固定顶部header-->
<header class="page-header">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">导航</span>
                        <span class="toggle-icon">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                </button>
                <a class="navbar-brand" href="#intro">
                    <img class="logo-default" src="__PUBLIC__/Assets/Frontend/Portal/Img/logo_default.png" alt="Logo">
                    <img class="logo-scroll" src="__PUBLIC__/Assets/Frontend/Portal/Img/logo_scroll.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="page-scroll active">
                        <a href="#intro">首页</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">关于</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">特性</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">团队</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#clients">用户</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">作品</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#pricing">完全免费</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- End Navbar Collapse -->
        </div>
        <!--/container-->
    </nav>
</header>
<!-- Header END -->


<!-- 产品介绍部分结束-->