<!-- 加载全局样式-->
<link href="__PUBLIC__/Assets/Global/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Assets/Global/Plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Assets/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- 全局样式加载完毕-->

<!-- 加载页面样式-->
<link href="__PUBLIC__/Assets/Global/Plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
<link href="__PUBLIC__/Assets/Global/Plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
<link href="__PUBLIC__/Assets/Global/Plugins/cubeportfolio/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet">
<!-- END PAGE LEVEL PLUGIN STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="__PUBLIC__/Assets/Frontend/Portal/Css/layout.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Assets/Frontend/Portal/Css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->

<!--轮播图的CSS-->
<css href="__PUBLIC__/Css/style.css"/>
<!--[if IE]>
<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->